body {

    background-image: url('./images/background_initiatives.png');
    background-attachment: fixed;
    color: aliceblue;
    font-family:'Bai Jamjuree';
    height: 100%;
    background-repeat: repeat-y;
    background-size:cover;
    }

.heading{
    margin-top: -20px;
    text-align: center;
    padding-top: 0px;
}

.info span
{
    color:#73B1DD;
    text-emphasis: none;
}

.title{
    font-family: 'Monoton',aerial;
    font-size: 6.5rem;/*4vw*/
    padding-top: 0px; 
    margin-top: -15px;
    margin-bottom: 0px;
    color: rgba(115, 177, 221, 0.40);
}

.info{
    font-size:3rem;/*2vw*/
    margin-top:0px;
    color:white;
}

.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* padding-top: 3vw; */
    height:52.8rem;  /*33vw*/
    gap: 30px;
}

.item{
    position: absolute;
    border-radius: 10px;
    transition: 0.5s;
    width:auto;
    left:calc(50%-110px);
    top:0;
}

.item img{
    height: 40rem; /*25vw*/
    width: 40rem;
}
.item img:hover{
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    border:1px solid black;
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    left: 16rem; /*10vw*/
    cursor: pointer;
}

#next:hover,#prev:hover{
    color:rgb(174, 174, 173);
    transform: scale(1.3);
}

.next1:hover,.prev1:hover{
    background-color: black;
    border: 1px solid white;
}
#next{
    left: unset;
    right: 16rem;/*10vw*/
}

.next1,.prev1{
    position: absolute;
    top:90%;
    background-color: rgba(15, 15, 15, 0.81);
    color: white;
    border:none;
    font-size: 2.4rem;/*1.5vw*/
    font-family: Bai Jamjuree;
    cursor: pointer;
    border-radius: 10px;
    left:48rem;/*30vw*/
    padding: 0.8rem;/*0.5*/
    backdrop-filter: none;
}

.next1{
    left:unset;
    right:48rem; /*30vw*/
}
.details{
    display:none;
    /* z-index: 0; */
}

.item1{
    height:100%;
    width: 100%;
    margin: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    top:0;left:0;
    background: rgba(243, 237, 237, 0.258);
    backdrop-filter: blur(7px); 
    display: none;

}

body > main > div.details > div.item1.active > img{
    width: 40vw;
    height: 40vw;
}
.item1.active{
    display: flex;
    z-index:100;
 }
 
.image {
    height: 56rem;
    top:10%;
    width: 40%;
    position: absolute;
    margin: auto;
    margin-left: 30%;
    margin-right: 30%;
    transition: 0.5s;
    border: 2px solid black;
    border-radius: 5px;
}

.details span{
    position: absolute;
    top:0; right:41.6rem;/*26vw*/
    font-size: 5.6rem;/*3.5*/
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.details span:hover{
    color:rgb(174, 174, 173);
    transform: scale(1.1);
}

