@media screen and (max-width: 690px) {
    header{
        /* display: flex; */
        justify-content: space-between;
    }
    .toggelNav{
        /* border: 2px solid blue ; */
        position: relative;
        top: -7px;
        height: 40px;
        width: 50px;
        left: 25vw;
        margin: 10px;
        display: block;
        z-index: 11;
        transform: rotate(90deg);
        transition: 0s;

    }
    .nav::before{
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: .7;
        z-index: 5;
    }
    .nav{
        display: none;
        /* border: 2px solid blue ; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 100px auto;
        justify-content: center;
        align-items:top;
        z-index: 10;
        padding: 0;
        
    }
    .nav_list{
        margin : 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        justify-content: top;
        align-items:start;
        height: 100%;
        /* border: 2px solid green ; */
        z-index: 11;
    }
    .nav_list-item{
        color: white;
        font-weight: bold;
        font-size: 3rem;
        padding: 0;
        /* border: 2px solid red; */
        margin: 10px;
        margin: 40px;
        /* padding: 10px; */
    }
    
}