*{
    margin:0px;
}

html{
    font-size: 62.5%;
}
footer{
    position: relative;
    /* background: url('background_team.png'); */
    box-sizing: border-box;
    /* background-repeat: no-repeat; */
    color: white;
    font-size: 1.6rem;
}

.contact{
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    text-align: center;
    font-family: Bai Jamjuree;
    /* position: absolute;
    bottom: 0px; */
}

i{
    font-size: 2.4rem;
}

.container{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    flex-wrap: wrap;
    text-align: left;
    grid-gap:5rem;
    padding: 2rem 6rem;
    overflow: hidden;
}

.heading{
    padding-top:2rem;
    padding-bottom: 0.8rem;
    font-size: 4rem;
}

#sponsors{
    max-width:1100px;
}

h3{
    font-size: 3rem;
    padding-bottom: 2rem;
    letter-spacing: 0.4rem;
}

.mail{
    color: white;
}

#address{
    position: relative;
}

#address h4{
    font-size:2rem;
    padding-top: 1rem;
}

#address h4 i{
    padding-right: 0.5rem;
}

#address p{
    padding-left: 1.4rem;
}

.mail2{
    position:absolute;
    bottom: 0px;

}
.mail2 a{
    padding-left: 1.4rem;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


button
{
    font-family: Bai Jamjuree;
    color: white;
    background-color: rgba(0,0,0,0);
    border-color: white;
    border-style: solid;
    border-width:medium;
    color: white;
    font-size:110%;
    border-radius: 8px;
}

button a
{
    color: white;
    text-decoration: none;
}


.icon i{
   color: white; 
   padding: 0.5rem;
}


.icon_insta i,.icon_fb i{
    padding-left: 0px;
    padding-right: 0px;
}

.icon_linkdin i{
    padding-left: 2rem;
    padding-right: 2rem ;
}

a:hover,.icon i:hover{
    color: rgb(25, 25, 222);
    transform: scale(1.5);
}


@media screen and (max-width : 600px) {
    .container{
        display:flex;
        flex-direction: column;
    }

    .mail2{
        position:static;
    }
}